.login-signup-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #007bff;
}

#loginForm, #signupForm {
    width: 100%;
}

#loginForm {
    margin-right: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}
